@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 1043px) {
  .main-title {
    font-size: 58px;
    margin-top: 80px;
  }

  .main-subtitle {
    font-size: 24px;
    margin: 10px;
    margin-bottom: 80px;
    /* margin-bottom: 20px; */
  }
  .header-div {
    padding: 0;
  }
}
@media (max-width: 992px) { 
  .main-title {
    font-size: 48px;
    margin-top: 80px;
  }

  .main-subtitle {
    font-size: 18px;
    margin: 10px;
    margin-bottom: 80px;
    /* margin-bottom: 20px; */
  }
  .header-div {
    padding: 0;
  }
}


@media (max-width: 768px) { 
  .main-title {
    font-size: 43px;
  }

  .main-subtitle {
    font-size: 16px;
    margin: 10px;
    margin-bottom: 90px;
    /* margin-bottom: 20px; */
  }
  .header-div {
    padding: 0;
  }
  .main-title-div {
    padding: 0;
  }
}



@media (max-width: 575px) {
  .header-div {
    padding: 0;
    padding-bottom: 0;
  }
  .top-location {
    font-size: 10px;
  }
  .top-location-icon {
    font-size: 16px;
  }
  .about-pic {
    display: none;
  }
  .main-title {
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .main-subtitle {
    font-size: 14px;
    margin: 10px;
    margin-bottom: 80px;
  }

  .logo-div {
    text-align: center;
  }

  .main-title-div {
    /* padding: 0; */
    margin: 0;
  }

  .about-icons {
    font-size: 24px;
  }
  /* .about-bullets {
        font-size: ;
    } */

  .about-heading {
    font-size: 30px;
  }

  .services-sub {
    border-top: none;
    padding-top: 0;
  }

  .services-cards-row {
    margin-bottom: 0;
  }

  .service {
    margin-bottom: 30px;
  }

  .services-main-heading {
    font-size: 30px;
  }

  .services-sub {
    font-size: 24px;
  }

  .services-content {
    padding-bottom: 50px;
  }
  .modus-div-left {
    padding-right: 12px;
  }
  .modus-div-right {
    padding-left: 12px;
  }
  .modus-main-title {
    font-size: 30px;
  }

  .modus-sub-title {
    font-size: 26px;
  }

  .modus-sub-desc {
    font-size: 20px;
    text-align: justify;
  }

  .modus-div {
    padding: 20px 25px;
  }

  .section-modus {
    padding-bottom: 50px;
  }

  .services-main-heading {
    /* font-size: 28px; */
  }

  .things-title {
    font-size: 30px;
  }

  .clients-title {
    font-size: 30px;
  }

  #ph {
    font-size: 30px;
  }
  .portfolio #ph {
    font-size: 30px !important;
  }
  #gap {
    padding-top: 0;
    font-size: 18px !important;
  }

  #brand {
    font-size: 30px;
  }

  .testimonials-title {
    font-size: 30px;
  }

  .we-about-content {
    font-size: 16px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
  }

  .image {
    width: 300px;
    height: 300px;
  }

  .we-div {
    width: 300px;
  }

  .we-title {
    font-size: 30px;
  }

  .we-about-title {
    font-size: 26px;
  }

  .we-founder-title {
    font-size: 26px;
  }

  .founder-details-name {
    font-size: 14px;
  }
  

  .founder-details {
    font-size: 12px;
  }



  .contact-info {
    font-size: 12px;
  }

  .address-footer {
    width: fit-content;
  }
  .margin-footer {
    border: none;
  }

  .contact-us-title {
    font-size: 28px;
  }

  .copyright-text {
    font-size: 10px;
  }

  .copyright {
    padding: 10px;
  }

  .glitch__title {
    font-size: 30px;
  }

  /* Video */
  .section-header {
    /* height: 80vh; */
    /* height: 200px; */
    /* width: 100% !important;
    height: auto !important; */
  }

  .color-overlay {
    /* height: 80vh; */
  }

  /* video {
    height: auto !important;
    width: 100%;
  } */

  
}
@media (max-width: 410px) {
  .main-title {
    font-size: 30px;
    margin-top: 55px;
  }
  .main-subtitle {
    font-size: 14px;
    margin: 10px;
    margin-bottom: 55px;
  }

}
@media (max-width: 376px) {
  .main-title {
    font-size: 30px;
    margin-top: 60px;
  }

  .main-subtitle {
    font-size: 14px;
    margin: 10px;
    margin-bottom: 60px;
  }


  .main-title-div {
    /* padding: 0; */
    margin: 0;
  }

}

@media (max-width: 375px) {
  .main-title {
    font-size: 28px;
    margin-top: 60px;
  }

  .main-subtitle {
    font-size: 14px;
    margin: 10px;
    margin-bottom: 60px;
  }


  .main-title-div {
    /* padding: 0; */
    margin: 0;
  }
}

@media (max-width: 355px) {
  .main-title {
    font-size: 24px;
    margin-top: 50px;
  }

  .main-subtitle {
    font-size: 14px;
    margin: 10px;
    margin-bottom: 50px;
  }


  .main-title-div {
    /* padding: 0; */
    margin: 0;
  }
}

@media (max-width: 334px) {
  .main-title {
    font-size: 24px;
    margin-top: 40px;
  }

  .main-subtitle {
    font-size: 14px;
    margin: 10px;
    margin-bottom: 40px;
  }


  .main-title-div {
    /* padding: 0; */
    margin: 0;
  }
}

@media (max-width: 316px) {
  .main-title {
    font-size: 20px;
    margin-top: 40px;
  }

  .main-subtitle {
    font-size: 14px;
    margin: 10px;
    margin-bottom: 40px;
  }


  .main-title-div {
    /* padding: 0; */
    margin: 0;
  }
}

@media (max-width: 308px) {
  .main-title {
    font-size: 22px;
    margin-top: 30px;
  }

  .main-subtitle {
    font-size: 14px;
    margin: 10px;
    margin-bottom: 30px;
  }


  .main-title-div {
    /* padding: 0; */
    margin: 0;
  }
}

@media (max-width: 355px) {
  .main-title {
    font-size: 21px;
    margin-top: 25px;
  }

  .main-subtitle {
    font-size: 14px;
    margin: 10px;
    margin-bottom: 25px;
  }


  .main-title-div {
    /* padding: 0; */
    margin: 0;
  }
}


@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}
